[user]
	email = seuemail@exemplo.com
	name = seu nome
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	st = status
	visual = !gitk
	co = checkout
	ec = config --global -e
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	cob = checkout -b
	cm = !git add -A && git commit -m
	savepoint = !git add -A && git commit -m '🆗 SAVEPOINT'
	wip = !git add -u && git commit -m "WIP"
	undo = reset HEAD~1 --mixed
	amend = commit -a --amend
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
	save = "!f() { git status && git add . && git commit -m \"💾 [checkpoint] ${1}\" && git status && git push;}; f"                 #💾 salva o progresso e faz o push;
	bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs git branch -d; }; f"
	bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"	
	commit-style = "!f() { git commit -m \"🎨 [style] ${1}\"; }; f"                 #🎨 melhorar a estrutura/formato do código;
	commit-feature = "!f() { git commit -m \"🆕 [feature] ${1}\"; }; f"               #🆕 incluir nova funcionalidade/código;
	commit-perf = "!f() { git commit -m \"🐎 [performance] ${1}\"; }; f"                  #🐎 melhorar a performance;
	commit-leak = "!f() { git commit -m \"🚰 [leak] ${1}\"; }; f"                  #🚰 memory leaks;
	commit-doc = "!f() { git commit -m \"📝[doc] ${1}\"; }; f"                   #📝 escrever alguma documentação;
	commit-log = "!f() { git commit -m \"✏️ [log] ${1}\"; }; f"                   #✏️ adicionar log na aplicação;
	commit-fix = "!f() { git commit -m \"🐞 [fix] ${1}\"; }; f"                   #🐞 corrigir um bug;
	commit-fix-ci = "!f() { git commit -m \"💚 [fix-ci] ${1}\"; }; f"                #💚 corrigir uma build no CI;
	commit-tests = "!f() { git commit -m \"🧪 [tests] ${1}\"; }; f"                 #✅ adicionar testes;
	commit-deps-up = "!f() { git commit -m \"⬆️ [deps-up] ${1}\"; }; f"               #⬆️ upgrade em dependências;
	commit-deps-down = "!f() { git commit -m \"⬇️ [deps-down] ${1}\"; }; f"             #⬇️ downgrade em dependências;
	commit-fix-lint = "!f() { git commit -m \"👕 [fix-lint] ${1}\"; }; f"              #👕 remover problemas com linter;
	commit-fix-typo = "!f() { git commit -m \"🐽 ${1}\"; }; f"              #🐽 corrigir algo simples (ex. typo, nome de variável...);
	commit-omg = "!f() { git commit -m \"💩 [omg] ${1}\"; }; f"                   #💩 m***a forte!
	commit-security = "!f() { git commit -m \"🔒 [security] ${1}\"; }; f"               #🔒 melhorar a segurança;
	commit-die = "!f() { git commit -m \"🔥 [die]  ${1}\"; }; f"                    #🔥 remover códigos ou arquivos;
	commit-help = "!f() { echo '🎨 commit-style => melhorar a estrutura/formato do código'; echo '🆕 commit-feature => incluir nova funcionalidade/código'; echo '🐎 commit-perf => melhorar a performance'; echo '🚰 commit-leak => memory leaks'; echo '📝 commit-doc => escrever alguma documentação'; echo '✏️ commit-log => adicionar log na aplicação'; echo '🐞 commit-fix => corrigir um bug'; echo '🔥 commit-die => remover códigos ou arquivos'; echo '💚 commit-fix-ci => corrigir uma build no CI'; echo '✅ commit-tests => adicionar testes';  echo '🔒 commit-security => melhorar a segurança';  echo '⬆️ commit-deps-up => upgrade em dependências';  echo '⬇️ commit-deps-down => downgrade em dependências';  echo '👕 commit-fix-lint => remover problemas com linter';  echo '🐽 commit-fix-typo => corrigir algo simples (ex. typo, nome de variável...)'; echo '💩 commit-omg => m***a forte'; }; f"
[core]
	editor = code --wait
